
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f4f4f4;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

.navbar {
    background-color: var(--primary-color);
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}
.navbar a:hover {
    background-color: var(--secondary-color);
}